
      #beforeNameInput{
        text-align: left;
        margin: 0% 0% -2% 5.2%;
        font-size: 70%;
      }

      #beforeNameInput2{
        margin: 1% -2% 1% 5%;
        float: left;
        color: rgba(255,41,86,1);

      }

      #name-input{
        background-color: rgba(244,177,175,1);
        text-align: center;
        font-size: 78%;
        border-color: rgba(255,107,136,1);
        border-style: solid;
        border-width: 2px;
        border-radius: 5px; /*테두리 둥글게*/
        width: 50%;
        margin: 2% 2% 2% -2%;
        padding:  2% 7% 2% 7%;

      }

      #findStar{
        border: none;
        background-color: rgba(255,41,86,1);
        border-radius: 12px;
        width: 95%;
        margin: 2%;
        padding: 4%;
        font-size : 135%;
        -webkit-appearance:none; /*ios의 기본 버튼 css를 무효화*/
      }

      /* #searchBt {
        width : 100px;
        height : 50px;
      } */